
.icon-cancel-circled:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-th-list:before { content: '\e802'; } /* '' */
.icon-up-dir:before { content: '\e803'; } /* '' */
.icon-down-dir:before { content: '\e804'; } /* '' */